PermitRootLogin no
PermitEmptyPasswords no
PasswordAuthentication no
PubkeyAuthentication yes 
ChallengeResponseAuthentication no
UsePAM yes
UseDNS no
Protocol 2
ClientAliveInterval 300
ClientAliveCountMax 1
X11Forwarding no
X11UseLocalhost yes 
AllowTcpForwarding no
AllowAgentForwarding no
TCPKeepAlive no
LoginGraceTime 60
MaxAuthTries 3
MaxSessions 2
MaxStartups 2
Banner /etc/issue.net
LogLevel VERBOSE
IgnoreRhosts yes
HostbasedAuthentication no
PermitUserEnvironment no
Ciphers aes256-ctr,aes192-ctr,aes128-ctr 
MACs hmac-sha2-512,hmac-sha2-256 
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman- group14-sha256,diffie-hellman-group16-sha512,diffie-hellman-group18- sha512,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie- hellman-group-exchange-sha256
UsePrivilegeSeparation sandbox
